<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 125, height: 50, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 50, height: 50, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
    <span>Bem vindo(a) <b>{{userName}}</b></span>
    <li class="nav-item">
      <button class="btn btn-sm btn-danger" (click)="logout()">
        <span><i class="fa fa-sign-out"></i></span>
      </button>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main">
    <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        </div>
      </li>
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span><a href="">Goku | e-commerce</a> &copy; 2021.</span>
  <span class="ml-auto">Powered by <a href="https://www.linkedin.com/in/salviano-jr-8b554527/" target="_blank">Salviano Jr - Engº de Software Sênior</a></span>
</app-footer>
