<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Cadastro de Paciente
          </div>
          <div class="card-body">
            <form action="" method="post">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" id="username" name="username" class="form-control" placeholder="Nome Completo">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" autocomplete="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                  </div>
                  <input type="phone" id="phone" name="phone" class="form-control" placeholder="Telefone" autocomplete="phone">
                </div>
              </div>
              <div class="form-group form-actions text-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                <button class="btn btn-sm btn-warning">Limpar Campos</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  